{%extends 'baseUser.html'%}

{% load bootstrap %}

{%block content%}

	<h4>Registro de nuevo director</h4>



	<form action="." method="post">
		{%csrf_token%}
		{{UserDirectorForm | bootstrap}}
		{{PerfilDirectorForm | bootstrap}}
		<input type="submit" value="Crear Usuario">
	</form>
	
	<div>
		
		{% if messages %}
		
			<ul class="messages">
    	
    		{% for message in messages %}
    	
	    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    	
	    	{% endfor %}
		
			</ul>
		
		{% endif %}

	</div>
{%endblock content%}