{%extends 'baseUser.html'%}

{% load bootstrap %}

{%block content%}

	<div>

	{% if messages %}


		<div class="messages">

			{% for message in messages %}
		
			<div {% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</div>
			
			{% endfor %}
		
		</div>

	{% endif %}

	</div>

	<h4>Actualice la información del empleado</h4>
	<form action="." method="post">
		{%csrf_token%}
		{{EdicionEmpleadoForm | bootstrap}}
		{{EdicionPerfilForm | bootstrap}}
		<input type="submit" value="Guardar">
	</form>

{%endblock content%}