{%extends 'baseUser.html'%}

{%block content%}

{% load humanize %}

	<h4>Catalogo de programas del {% now "Y" %}</h4>

	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thead class="text-center">
				<th>Departamento</th>
				<th>Nombre</th>
				<th>Actividad</th>
				<th>Meta</th>
				<th>Unidad de medida</th>
				<th>Fuente de financiamiento</th>
				<th>Año</th>

				{%if request.user.username == "administrador"%}
				
				<th>Monto autorizado</th>
				<th>Monto ampliación</th>
				<th>Monto reducción</th>
				<th>Monto modificado</th>
				<th>Monto ejercido</th>
				
				{%endif%}
				
				<th>Monto por ejercer</th>
	
				{%if request.user.username == "administrador"%}
	
				<th colspan="3">Acciones</th>

				{%else%}

				<th colspan="1">Acciones</th>

				{%endif%}
			</thead>
			<tbody>
		{%for programa in programas%}
			
				<tr>
					<td>{{programa.departamento}}</td>
					<td>{{programa.nombre}}</td>
					<td>{{programa.actividad}}</td>
					<td>{{programa.meta}}</td>
					<td>{{programa.unidad_de_medida}}</td>
					<td>{%if programa.fuente_de_financiamiento == 1%}
						Federal
						{%elif programa.fuente_de_financiamiento == 2%}
						Estatal
						{%elif programa.fuente_de_financiamiento == 3%}
						Propios
						{%endif%}
					</td>
					<td>{{programa.año}}</td>

					{%if request.user.username == "administrador"%}

					<td>{%if programa.MontoAnualAutorizado is None%}
							{%if programa.monto_anual_autorizado is None%}
							Por definir
							{%else%}
							 ${{programa.monto_anual_autorizado|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.MontoAnualAmpliacion is None%}
							{%if programa.monto_anual_ampliacion is None%}
							Por definir
							{%else%}
							 ${{programa.monto_anual_ampliacion|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.MontoAnualReduccion is None%}
							{%if programa.monto_anual_reduccion is None%}
							Por definir
							{%else%}
							 ${{programa.monto_anual_reduccion|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.MontoAnualModificado is None%}
							{%if programa.monto_anual_modificado is None%}
							Por definir
							{%else%}
							 ${{programa.monto_anual_modificado|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.MontoAnualEjercido is None%}
							{%if programa.monto_anual_ejercido is None%}
							Por definir
							{%else%}
							 ${{programa.monto_anual_ejercido|intcomma}}
							{%endif%}
						{%endif%}</td>

					{%endif%}

					<td>{%if programa.MontoAnualPorEjercer is None%}
							{%if programa.monto_anual_por_ejercer is None%}
							Por definir
							{%else%}
							 ${{programa.monto_anual_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}</td>

					
					<td><a href="{%url 'presupuesto:ListViewCapitulos' programa.pk%}">Ver capítulos</a></td>

					{%if request.user.username == "administrador"%}
					<td><a href="{%url 'presupuesto:UpdateViewPrograma' programa.pk%}">Editar Información</a></td>
					<td><a href="{%url 'presupuesto:DeleteViewPrograma' programa.pk%}">Eliminar</a></td>
					{%endif%}
				</tr>

		{%empty%}

				<tr>
					<td colspan="12">Lista de programas vacia</td>
				</tr>

		{%endfor%}
			</tbody>
		</table>	
	</div>

{%endblock content%}