{%extends 'baseUser.html'%}

{%block content%}

{% load humanize %}

	<h4>Catalogo de programas del {% now "Y" %}</h4>

	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thead>
				<th colspan="7">Información</th>
				<th colspan="6">Montos anuales</th>
				<th colspan="6">Montos del primer trimestre</th>
				<th colspan="6">Montos del segundo trimestre</th>
				<th colspan="6">Montos del tercer trimestre</th>
				<th colspan="6">Montos del cuarto trimestre</th>
			</thead>
			<thead class="text-center">
				<th>Departamento</th>
				<th>Nombre</th>
				<th>Actividad</th>
				<th>Meta</th>
				<th>Unidad de medida</th>
				<th>Fuente de financiamiento</th>
				<th>Año</th>

				{%if request.user.username == "administrador"%}
				
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>
				{%endif%}
				
				
	
				{%if request.user.username == "administrador"%}
	
				<th colspan="3">Acciones</th>

				{%else%}

				<th colspan="1">Acciones</th>

				{%endif%}
			</thead>
			<tbody>
		{%for programa in programas%}
			
				<tr>
					<td>{{programa.departamento}}</td>
					<td>{{programa.nombre}}</td>
					<td>{{programa.actividad}}</td>
					<td>{{programa.meta}}</td>
					<td>{{programa.unidad_de_medida}}</td>
					<td>{%if programa.fuente_de_financiamiento == 1%}
						Federal
						{%elif programa.fuente_de_financiamiento == 2%}
						Estatal
						{%elif programa.fuente_de_financiamiento == 3%}
						Propios
						{%endif%}
					</td>
					<td>{{programa.año}}</td>

					{%if request.user.username == "administrador"%}

					<td>{%if programa.MontoAnualAutorizado is None%}
							{%if programa.monto_anual_autorizado is None%}
							Por definir
							{%else%}
							 ${{programa.monto_anual_autorizado|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.MontoAnualAmpliacion is None%}
							{%if programa.monto_anual_ampliacion is None%}
							Por definir
							{%else%}
							 ${{programa.monto_anual_ampliacion|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.MontoAnualReduccion is None%}
							{%if programa.monto_anual_reduccion is None%}
							Por definir
							{%else%}
							 ${{programa.monto_anual_reduccion|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.MontoAnualModificado is None%}
							{%if programa.monto_anual_modificado is None%}
							Por definir
							{%else%}
							 ${{programa.monto_anual_modificado|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.MontoAnualEjercido is None%}
							{%if programa.monto_anual_ejercido is None%}
							Por definir
							{%else%}
							 ${{programa.monto_anual_ejercido|intcomma}}
							{%endif%}
						{%endif%}</td>

					{%endif%}

					<td>{%if programa.MontoAnualPorEjercer is None%}
							{%if programa.monto_anual_por_ejercer is None%}
							Por definir
							{%else%}
							 ${{programa.monto_anual_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.Monto1TAutorizado is None%}
							{%if programa.monto_1t_autorizado is None%}
							Por definir
							{%else%}
							 ${{programa.monto_1t_autorizado|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.Monto1TAmpliacion is None%}
							{%if programa.monto_1t_ampliacion is None%}
							Por definir
							{%else%}
							 ${{programa.monto_1t_ampliacion|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto1TReduccion is None%}
							{%if programa.monto_1t_reduccion is None%}
							Por definir
							{%else%}
							 ${{programa.monto_1t_reduccion|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.Monto1TModificado is None%}
							{%if programa.monto_1t_modificado is None%}
							Por definir
							{%else%}
							 ${{programa.monto_1t_modificado|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto1TEjercido is None%}
							{%if programa.monto_1t_ejercido is None%}
							Por definir
							{%else%}
							 ${{programa.monto_1t_ejercido|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto1TPorEjercer is None%}
							{%if programa.monto_1t_por_ejercer is None%}
							Por definir
							{%else%}
							 ${{programa.monto_1t_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto2TAutorizado is None%}
							{%if programa.monto_2t_autorizado is None%}
							Por definir
							{%else%}
							 ${{programa.monto_2t_autorizado|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.Monto2TAmpliacion is None%}
							{%if programa.monto_2t_ampliacion is None%}
							Por definir
							{%else%}
							 ${{programa.monto_2t_ampliacion|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto2TReduccion is None%}
							{%if programa.monto_2t_reduccion is None%}
							Por definir
							{%else%}
							 ${{programa.monto_2t_reduccion|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.Monto2TModificado is None%}
							{%if programa.monto_2t_modificado is None%}
							Por definir
							{%else%}
							 ${{programa.monto_2t_modificado|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto2TEjercido is None%}
							{%if programa.monto_2t_ejercido is None%}
							Por definir
							{%else%}
							 ${{programa.monto_2t_ejercido|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto2TPorEjercer is None%}
							{%if programa.monto_2t_por_ejercer is None%}
							Por definir
							{%else%}
							 ${{programa.monto_2t_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto3TAutorizado is None%}
							{%if programa.monto_3t_autorizado is None%}
							Por definir
							{%else%}
							 ${{programa.monto_3t_autorizado|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.Monto3TAmpliacion is None%}
							{%if programa.monto_3t_ampliacion is None%}
							Por definir
							{%else%}
							 ${{programa.monto_3t_ampliacion|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto3TReduccion is None%}
							{%if programa.monto_3t_reduccion is None%}
							Por definir
							{%else%}
							 ${{programa.monto_3t_reduccion|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.Monto3TModificado is None%}
							{%if programa.monto_3t_modificado is None%}
							Por definir
							{%else%}
							 ${{programa.monto_3t_modificado|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto3TEjercido is None%}
							{%if programa.monto_3t_ejercido is None%}
							Por definir
							{%else%}
							 ${{programa.monto_3t_ejercido|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto3TPorEjercer is None%}
							{%if programa.monto_3t_por_ejercer is None%}
							Por definir
							{%else%}
							 ${{programa.monto_3t_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto4TAutorizado is None%}
							{%if programa.monto_4t_autorizado is None%}
							Por definir
							{%else%}
							 ${{programa.monto_4t_autorizado|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.Monto4TAmpliacion is None%}
							{%if programa.monto_4t_ampliacion is None%}
							Por definir
							{%else%}
							 ${{programa.monto_4t_ampliacion|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto4TReduccion is None%}
							{%if programa.monto_4t_reduccion is None%}
							Por definir
							{%else%}
							 ${{programa.monto_4t_reduccion|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td>{%if programa.Monto4TModificado is None%}
							{%if programa.monto_4t_modificado is None%}
							Por definir
							{%else%}
							 ${{programa.monto_4t_modificado|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto4TEjercido is None%}
							{%if programa.monto_4t_ejercido is None%}
							Por definir
							{%else%}
							 ${{programa.monto_4t_ejercido|intcomma}}
							{%endif%}
						{%endif%}</td>

					<td>{%if programa.Monto4TPorEjercer is None%}
							{%if programa.monto_4t_por_ejercer is None%}
							Por definir
							{%else%}
							 ${{programa.monto_4t_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}</td>
					<td><a href="{%url 'presupuesto:ListViewCapitulos' programa.pk%}">Ver capítulos</a></td>

					{%if request.user.username == "administrador"%}
					<td><a href="{%url 'presupuesto:UpdateViewPrograma' programa.pk%}">Editar Información</a></td>
					<td><a href="{%url 'presupuesto:DeleteViewPrograma' programa.pk%}">Eliminar</a></td>
					{%endif%}
				</tr>

		{%empty%}

				<tr>
					<td colspan="12">Lista de programas vacia</td>
				</tr>

		{%endfor%}

				<tr>
					<td colspan="7"><p align="right">Total</p></td>

					{%if request.user.username == "administrador"%}

					<td>{%if total_monto_anual_autorizado is None%}
						{%else%}
							${{total_monto_anual_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_anual_ampliacion is None%}
						{%else%}
							${{total_monto_anual_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_anual_reduccion is None%}
						{%else%}
							${{total_monto_anual_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_anual_modificado is None%}
						{%else%}
							${{total_monto_anual_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_anual_ejercido is None%}
						{%else%}
							${{total_monto_anual_ejercido|intcomma}}
						{%endif%}
					</td>

					{%endif%}



					<td>{%if total_monto_anual_por_ejercer is None%}
						{%else%}
							${{total_monto_anual_por_ejercer|intcomma}}
						{%endif%}
					</td>

					<td>{%if total_monto_1t_autorizado is None%}
						{%else%}
							${{total_monto_1t_autorizado|intcomma}}
						{%endif%}
					</td>

					<td>{%if total_monto_1t_ampliacion is None%}
						{%else%}
							${{total_monto_1t_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_reduccion is None%}
						{%else%}
							${{total_monto_1t_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_modificado is None%}
						{%else%}
							${{total_monto_1t_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_ejercido is None%}
						{%else%}
							${{total_monto_1t_ejercido|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_por_ejercer is None%}
						{%else%}
							${{total_monto_1t_por_ejercer|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_autorizado is None%}
						{%else%}
							${{total_monto_2t_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_ampliacion is None%}
						{%else%}
							${{total_monto_2t_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_reduccion is None%}
						{%else%}
							${{total_monto_2t_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_modificado is None%}
						{%else%}
							${{total_monto_2t_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_ejercido is None%}
						{%else%}
							${{total_monto_2t_ejercido|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_por_ejercer is None%}
						{%else%}
							${{total_monto_2t_por_ejercer|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_autorizado is None%}
						{%else%}
							${{total_monto_3t_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_ampliacion is None%}
						{%else%}
							${{total_monto_3t_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_reduccion is None%}
						{%else%}
							${{total_monto_3t_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_modificado is None%}
						{%else%}
							${{total_monto_3t_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_ejercido is None%}
						{%else%}
							${{total_monto_3t_ejercido|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_por_ejercer is None%}
						{%else%}
							${{total_monto_3t_por_ejercer|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_autorizado is None%}
						{%else%}
							${{total_monto_4t_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_ampliacion is None%}
						{%else%}
							${{total_monto_4t_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_reduccion is None%}
						{%else%}
							${{total_monto_4t_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_modificado is None%}
						{%else%}
							${{total_monto_4t_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_ejercido is None%}
						{%else%}
							${{total_monto_4t_ejercido|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_por_ejercer is None%}
						{%else%}
							${{total_monto_4t_por_ejercer|intcomma}}
						{%endif%}
					</td>
				</tr>
			</tbody>
		</table>	
	</div>

{%endblock content%}