{%extends 'baseUser.html'%}

{%block content%}

{% load humanize %}


	<h4 class="text-center">Lista de capitulos del programa <i>{{programa.nombre}}</i></h4>

	<ul class="nav nav-pills">

		{%if request.user.username == "administrador"%}

		<li class="nav-item">
			<a class="nav-link" href="{%url 'presupuesto:CreateViewCapitulo' programa.pk%}">Crear capitulo</a>
		</li>

		{%endif%}

		<li class="nav-item">
			<a class="nav-link" href="{%url 'presupuesto:ListViewProgramas'%}">Regresar</a>
		</li>
	</ul>

	<div class="table-responsive">		
		<table class="table table-striped table-bordered">
			<thead>
				<th colspan="2">Información</th>
				
				{%if request.user.username == "administrador"%}

				<th colspan="6">Montos anuales</th>
				<th colspan="6">Montos del primer trimestre</th>
				<th colspan="6">Montos del segundo trimestre</th>
				<th colspan="6">Montos del tercer trimestre</th>
				<th colspan="6">Montos del cuarto trimestre</th>
				{%else%}

				<th>Monto</th>

				{%endif%}
			</thead>
			<thead>
				<th>Código</th>
				<th>Nombre</th>

				{%if request.user.username == "administrador"%}

				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>	
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				
				{%endif%}

				<th>Por ejercer</th>

				{%if request.user.username == "administrador"%}

				<th colspan="3">Acciones</th>

				{%else%}	

				<th colspan="1">Acciones</th>
				
				{%endif%}

			</thead>
			<tbody>

		{%for capitulo in capitulos%}
			
				<tr>
					<td>{{capitulo.codigo}}</td>
					<td>{%if capitulo.CreaNombre is None%}{{capitulo.nombre}}{%endif%}</td>

					{%if request.user.username == "administrador"%}

					<td>{% if capitulo.MontoAnualAutorizado is None%}
							{%if capitulo.monto_anual_autorizado is None%}
								Por definir
							{%else%}
								${{capitulo.monto_anual_autorizado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.MontoAnualAmpliacion is None%}
							{%if capitulo.monto_anual_ampliacion is None%}
								Por definir
							{%else%}
								${{capitulo.monto_anual_ampliacion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.MontoAnualReduccion is None%}
							{%if capitulo.monto_anual_reduccion is None%}
								Por definir
							{%else%}
								${{capitulo.monto_anual_reduccion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.MontoAnualModificado is None%}
							{%if capitulo.monto_anual_modificado is None%}
								Por definir
							{%else%}
								${{capitulo.monto_anual_modificado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.MontoAnualEjercido is None%}
							{%if capitulo.monto_anual_ejercido is None%}
								Por definir
							{%else%}
								${{capitulo.monto_anual_ejercido|intcomma}}
							{%endif%}
						{%endif%}
					</td>

					{%endif%}

					<td>{% if capitulo.MontoAnualPorEjercer is None%}
							{%if capitulo.monto_anual_por_ejercer is None%}
								Por definir
							{%else%}
								${{capitulo.monto_anual_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}
					</td>

				{%if request.user.username == "administrador"%}

					<td>{% if capitulo.Monto1TAutorizado is None%}
							{%if capitulo.monto_1t_autorizado is None%}
								Por definir
							{%else%}
								${{capitulo.monto_1t_autorizado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto1TAmpliacion is None%}
							{%if capitulo.monto_1t_ampliacion is None%}
								Por definir
							{%else%}
								${{capitulo.monto_1t_ampliacion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto1TReduccion is None%}
							{%if capitulo.monto_1t_reduccion is None%}
								Por definir
							{%else%}
								${{capitulo.monto_1t_reduccion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto1TModificado is None%}
							{%if capitulo.monto_1t_modificado is None%}
								Por definir
							{%else%}
								${{capitulo.monto_1t_modificado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto1TEjercido is None%}
							{%if capitulo.monto_1t_ejercido is None%}
								Por definir
							{%else%}
								${{capitulo.monto_1t_ejercido|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto1TPorEjercer is None%}
							{%if capitulo.monto_1t_por_ejercer is None%}
								Por definir
							{%else%}
								${{capitulo.monto_1t_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}
					</td>

					<td>{% if capitulo.Monto2TAutorizado is None%}
							{%if capitulo.monto_2t_autorizado is None%}
								Por definir
							{%else%}
								${{capitulo.monto_2t_autorizado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto2TAmpliacion is None%}
							{%if capitulo.monto_2t_ampliacion is None%}
								Por definir
							{%else%}
								${{capitulo.monto_2t_ampliacion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto2TReduccion is None%}
							{%if capitulo.monto_2t_reduccion is None%}
								Por definir
							{%else%}
								${{capitulo.monto_2t_reduccion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto2TModificado is None%}
							{%if capitulo.monto_2t_modificado is None%}
								Por definir
							{%else%}
								${{capitulo.monto_2t_modificado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto2TEjercido is None%}
							{%if capitulo.monto_2t_ejercido is None%}
								Por definir
							{%else%}
								${{capitulo.monto_2t_ejercido|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto2TPorEjercer is None%}
							{%if capitulo.monto_2t_por_ejercer is None%}
								Por definir
							{%else%}
								${{capitulo.monto_2t_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto3TAutorizado is None%}
							{%if capitulo.monto_3t_autorizado is None%}
								Por definir
							{%else%}
								${{capitulo.monto_3t_autorizado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto3TAmpliacion is None%}
							{%if capitulo.monto_3t_ampliacion is None%}
								Por definir
							{%else%}
								${{capitulo.monto_3t_ampliacion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto3TReduccion is None%}
							{%if capitulo.monto_3t_reduccion is None%}
								Por definir
							{%else%}
								${{capitulo.monto_3t_reduccion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto3TModificado is None%}
							{%if capitulo.monto_3t_modificado is None%}
								Por definir
							{%else%}
								${{capitulo.monto_3t_modificado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto3TEjercido is None%}
							{%if capitulo.monto_3t_ejercido is None%}
								Por definir
							{%else%}
								${{capitulo.monto_3t_ejercido|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto3TPorEjercer is None%}
							{%if capitulo.monto_3t_por_ejercer is None%}
								Por definir
							{%else%}
								${{capitulo.monto_3t_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto4TAutorizado is None%}
							{%if capitulo.monto_4t_autorizado is None%}
								Por definir
							{%else%}
								${{capitulo.monto_4t_autorizado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto4TAmpliacion is None%}
							{%if capitulo.monto_4t_ampliacion is None%}
								Por definir
							{%else%}
								${{capitulo.monto_4t_ampliacion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto4TReduccion is None%}
							{%if capitulo.monto_4t_reduccion is None%}
								Por definir
							{%else%}
								${{capitulo.monto_4t_reduccion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto4TModificado is None%}
							{%if capitulo.monto_4t_modificado is None%}
								Por definir
							{%else%}
								${{capitulo.monto_4t_modificado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto4TEjercido is None%}
							{%if capitulo.monto_4t_ejercido is None%}
								Por definir
							{%else%}
								${{capitulo.monto_4t_ejercido|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if capitulo.Monto4TPorEjercer is None%}
							{%if capitulo.monto_4t_por_ejercer is None%}
								Por definir
							{%else%}
								${{capitulo.monto_4t_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}
					</td>

				{%endif%}

					<td><a href="{%url 'presupuesto:ListViewPartidas' capitulo.pk%}">Ver partidas</a></td>

					{%if request.user.username == "administrador"%}

					<td><a href="{%url 'presupuesto:UpdateViewCapitulo' capitulo.pk%}">Editar</a></td>
					<td><a href="{%url 'presupuesto:DeleteViewCapitulo' capitulo.pk%}">Eliminar</a></td>

					{%endif%}
				</tr>

		{%empty%}

				<tr>
					<td colspan="12"><p align="center">Lista de capítulos vacia</p></td>
				</tr>

		{%endfor%}

				<tr>
					<td colspan="2"><p align="right">Total</p></td>

				{%if request.user.username == "administrador"%}

					<td>{%if total_monto_anual_autorizado is None%}
						{%else%}
							${{total_monto_anual_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_anual_ampliacion is None%}
						{%else%}
							${{total_monto_anual_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_anual_reduccion is None%}
						{%else%}
							${{total_monto_anual_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_anual_modificado is None%}
						{%else%}
							${{total_monto_anual_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_anual_ejercido is None%}
						{%else%}
							${{total_monto_anual_ejercido|intcomma}}
						{%endif%}
					</td>

					{%endif%}

					<td>{%if total_monto_anual_por_ejercer is None%}
						{%else%}
							${{total_monto_anual_por_ejercer|intcomma}}
						{%endif%}
					</td>

				{%if request.user.username == "administrador"%}

					<td>{%if total_monto_1t_autorizado is None%}
						{%else%}
							${{total_monto_1t_autorizado|intcomma}}
						{%endif%}
					</td>

					<td>{%if total_monto_1t_ampliacion is None%}
						{%else%}
							${{total_monto_1t_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_reduccion is None%}
						{%else%}
							${{total_monto_1t_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_modificado is None%}
						{%else%}
							${{total_monto_1t_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_ejercido is None%}
						{%else%}
							${{total_monto_1t_ejercido|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_por_ejercer is None%}
						{%else%}
							${{total_monto_1t_por_ejercer|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_autorizado is None%}
						{%else%}
							${{total_monto_2t_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_ampliacion is None%}
						{%else%}
							${{total_monto_2t_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_reduccion is None%}
						{%else%}
							${{total_monto_2t_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_modificado is None%}
						{%else%}
							${{total_monto_2t_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_ejercido is None%}
						{%else%}
							${{total_monto_2t_ejercido|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_por_ejercer is None%}
						{%else%}
							${{total_monto_2t_por_ejercer|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_autorizado is None%}
						{%else%}
							${{total_monto_3t_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_ampliacion is None%}
						{%else%}
							${{total_monto_3t_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_reduccion is None%}
						{%else%}
							${{total_monto_3t_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_modificado is None%}
						{%else%}
							${{total_monto_3t_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_ejercido is None%}
						{%else%}
							${{total_monto_3t_ejercido|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_por_ejercer is None%}
						{%else%}
							${{total_monto_3t_por_ejercer|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_autorizado is None%}
						{%else%}
							${{total_monto_4t_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_ampliacion is None%}
						{%else%}
							${{total_monto_4t_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_reduccion is None%}
						{%else%}
							${{total_monto_4t_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_modificado is None%}
						{%else%}
							${{total_monto_4t_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_ejercido is None%}
						{%else%}
							${{total_monto_4t_ejercido|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_por_ejercer is None%}
						{%else%}
							${{total_monto_4t_por_ejercer|intcomma}}
						{%endif%}
					</td>

				{%endif%}
				
				</tr>
			</tbody>
		</table>
	</div>

{%endblock content%}