{%extends 'baseUser.html'%}

{% load bootstrap %}

{%block content%}

	<form method="GET" action="">
		<input type="text" name="mes_inicio" placeholder="Mes inicio" value="{{request.GET.query}}">

		<input type="text" name="mes_final" placeholder="Mes final" value="{{request.GET.query}}">
		<input type="submit" value="Buscar">
	</form>

<table>
<thead>

	<th>Capitulo</th>
	<th>Partida</th>
	<th>Mes</th>
	<th>Monto autorizado</th>
	<th>Monto amplicacion</th>
	<th>Monto Reduccion</th>
	<th>Monto Modificado</th>
		<th>Monto Ejercido</th>
			<th>Monto Por ejercer</th>
</thead>
<tbody>

{%for p in partidas%}
<tr>
{{p}}

</tr>

</tbody>
{%endfor%}
</table>
{%endblock content%}