{%extends 'baseUser.html'%}

{%block content%}

{% load humanize %}

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>


<p>Programa: {{programa.nombre}}</p>
<p>Año: {{programa.año}}</p>
<p>Capitulo: {{capitulo.codigo}} {{capitulo.nombre}}</p>
<p>Partida especifica: {{partida.codigo}}</p>
<p>Descripción: {{partida.descripcion}}</p>

<p align="center">Lista de meses</p>

<a href="{%url 'presupuesto:CreateViewMes' partida.pk%}">Crear Mes</a>
<a href="{%url 'presupuesto:ListViewPartidas' capitulo.pk%}">Regresar</a>
<table>
	<thead>
		<th><p align="center">Mes</p></th>
		<th><p align="center">Autorizado</p></th>
		<th><p align="center">Ampliación</p></th>
		<th><p align="center">Reducción</p></th>
		<th><p align="center">Modificado</p></th>
		<th><p align="center">Ejercido</p></th>
		<th><p align="center">Por ejercer</p></th>
		<th colspan="5"><p align="center">Acciones</p></th>
	</thead>
{%for mes in meses%}
	<tr>
		<td>
			{%if mes.mes == 1%}
				Enero
			{%elif mes.mes == 2%}
				Febrero
			{%elif mes.mes == 3%}
				Marzo
			{%elif mes.mes == 4%}
				Abril
			{%elif mes.mes == 5%}
				Mayo		
			{%elif mes.mes == 6%}
				Junio
			{%elif mes.mes == 7%}
				Julio
			{%elif mes.mes == 8%}
				Agosto
			{%elif mes.mes == 9%}
				Septiembre
			{%elif mes.mes == 10%}
				Octubre
			{%elif mes.mes == 11%}
				Noviembre
			{%elif mes.mes == 12%}
				Diciembre
			{%endif%}
		</td>
		<td>${{mes.monto_autorizado|intcomma}}</td>
		<td>${{mes.monto_ampliacion|intcomma}}</td>
		<td>${{mes.monto_reduccion|intcomma}}</td>
		<td>${%if mes.MontoModificado is NONE%}{{mes.monto_modificado|intcomma}}{%endif%}</td>
		<td>${{mes.monto_ejercido|intcomma}}</td>
		<td>${%if mes.MontoPorEjercer is NONE%}{{mes.monto_por_ejercer|intcomma}}{%endif%}</td>
		<td><a href="{%url 'presupuesto:UpdateViewMesAmpliacion' mes.pk%}">Ampliar</a></td>
		<td><a href="{%url 'presupuesto:UpdateViewMesReduccion' mes.pk%}">Reducir</a></td>
		<td><a href="{%url 'presupuesto:UpdateViewMesEjercido' mes.pk%}">Ejercer</a></td>
		<td><a href="{%url 'presupuesto:UpdateViewMes' mes.pk%}">Editar</a></td>
		<td><a href="{%url 'presupuesto:DeleteViewMes' mes.pk%}">Eliminar</a></td>
	</tr>
{%empty%}
	<tr>
		<td colspan="12"><p align="center">Lista de meses vacia</p></td>
	</tr>
{%endfor%}
	<tr>
		<td><p align="right">Total</p></td>
		<td>{%if total_monto_autorizado is None%}
			{%else%}
				${{total_monto_autorizado|intcomma}}
			{%endif%}
		</td>
		<td>{%if total_monto_ampliacion is None%}
			{%else%}
				${{total_monto_ampliacion|intcomma}}
			{%endif%}
		</td>
		<td>{%if total_monto_reduccion is None%}
			{%else%}
				${{total_monto_reduccion|intcomma}}
			{%endif%}
		</td>
		<td>{%if total_monto_modificado is None%}
			{%else%}
				${{total_monto_modificado|intcomma}}
			{%endif%}
		</td>
		<td>{%if total_monto_ejercido is None%}
			{%else%}
				${{total_monto_ejercido|intcomma}}
			{%endif%}
		</td>
		<td>{%if total_monto_por_ejercer is None%}
			{%else%}
				${{total_monto_por_ejercer|intcomma}}
			{%endif%}
		</td>
</table>

{%endblock content%}