{%extends 'baseUser.html'%}

{%block content%}

{% load humanize %}

	<h4 class="text-center">Lista de partidas del capitulo {{capitulo.nombre}} del programa {{programa.nombre}}</h4>

	<ul class="nav nav-pills">

		{%if request.user.username == "administrador"%}
		
		<li class="nav-item">
			<a class="nav-link" href="{%url 'presupuesto:CreateViewPartida' capitulo.pk%}">Crear partida</a>
		</li>

		{%endif%}

		<li class="nav-item">
			<a class="nav-link" href="{%url 'presupuesto:ListViewCapitulos' programa.pk%}">Regresar</a>
		</li>
	</ul>

	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thead>
				<th colspan="2">Información</th>

				{%if request.user.username == "administrador"%}

				<th colspan="6">Montos anual</th>
				<th colspan="6">Montos del primer trimestre</th>
				<th colspan="6">Montos del segundo trimestre</th>
				<th colspan="6">Montos del tercer trimestre</th>
				<th colspan="6">Montos del cuarto trimestre</th>

				{%else%}

				<th>Monto</th>

				{%endif%}

			</thead>
			<thead>
				<th>Partida</th>
				<th>Descripción</th>

				{%if request.user.username == "administrador"%}
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>
				<th>Por ejercer</th>
				<th>Autorizado</th>
				<th>Ampliación</th>
				<th>Reducción</th>
				<th>Modificado</th>
				<th>Ejercido</th>

				<th colspan="3">Acciones</th>
				{%else%}

				<th>Por ejercer</th>
				<th colspan="1">Acciones</th>
				
				{%endif%}
			</thead>
			<tbody>
		{%for partida in partidas%}

				<tr>
					<td>{{partida.codigo}}</td>
					<td>{{partida.descripcion}}</td>

				{%if request.user.username == "administrador"%}

					<td>{% if partida.MontoAnualAutorizado is None%}
							{%if partida.monto_anual_autorizado is None%}
								Por definir
							{%else%}
								${{partida.monto_anual_autorizado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.MontoAnualAmpliacion is None%}
							{%if partida.monto_anual_ampliacion is None%}
								Por definir
							{%else%}
								${{partida.monto_anual_ampliacion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.MontoAnualReduccion is None%}
							{%if partida.monto_anual_reduccion is None%}
								Por definir
							{%else%}
								${{partida.monto_anual_reduccion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.MontoAnualModificado is None%}
							{%if partida.monto_anual_modificado is None%}
								Por definir
							{%else%}
								${{partida.monto_anual_modificado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.MontoAnualEjercido is None%}
							{%if partida.monto_anual_ejercido is None%}
								Por definir
							{%else%}
								 ${{partida.monto_anual_ejercido|intcomma}}
							{%endif%}
						{%endif%}
					</td>

					{%endif%}

					<td>{% if partida.MontoAnualPorEjercer is None%}
							{%if partida.monto_anual_por_ejercer is None%}
								Por definir
							{%else%}
								${{partida.monto_anual_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}
					</td>

				{%if request.user.username == "administrador"%}

					<td>{% if partida.Monto1TAutorizado is None%}
							{%if partida.monto_1t_autorizado is None%}
								Por definir
							{%else%}
								${{partida.monto_1t_autorizado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto1TAmpliacion is None%}
							{%if partida.monto_1t_ampliacion is None%}
								Por definir
							{%else%}
								${{partida.monto_1t_ampliacion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto1TReduccion is None%}
							{%if partida.monto_1t_reduccion is None%}
								Por definir
							{%else%}
								${{partida.monto_1t_reduccion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto1TModificado is None%}
							{%if partida.monto_1t_modificado is None%}
								Por definir
							{%else%}
								${{partida.monto_1t_modificado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto1TEjercido is None%}
							{%if partida.monto_1t_ejercido is None%}
								Por definir
							{%else%}
								${{partida.monto_1t_ejercido|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto1TPorEjercer is None%}
							{%if partida.monto_1t_por_ejercer is None%}
								Por definir
							{%else%}
								${{partida.monto_1t_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto2TAutorizado is None%}
							{%if partida.monto_2t_autorizado is None%}
								Por definir
							{%else%}
								${{partida.monto_2t_autorizado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto2TAmpliacion is None%}
							{%if partida.monto_2t_ampliacion is None%}
								Por definir
							{%else%}
								${{partida.monto_2t_ampliacion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto2TReduccion is None%}
							{%if partida.monto_2t_reduccion is None%}
								Por definir
							{%else%}
								${{partida.monto_2t_reduccion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto2TModificado is None%}
							{%if partida.monto_2t_modificado is None%}
								Por definir
							{%else%}
								${{partida.monto_2t_modificado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto2TEjercido is None%}
							{%if partida.monto_2t_ejercido is None%}
								Por definir
							{%else%}
								${{partida.monto_2t_ejercido|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto2TPorEjercer is None%}
							{%if partida.monto_2t_por_ejercer is None%}
								Por definir
							{%else%}
								${{partida.monto_2t_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto3TAutorizado is None%}
							{%if partida.monto_3t_autorizado is None%}
								Por definir
							{%else%}
								${{partida.monto_3t_autorizado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto3TAmpliacion is None%}
							{%if partida.monto_3t_ampliacion is None%}
								Por definir
							{%else%}
								${{partida.monto_3t_ampliacion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto3TReduccion is None%}
							{%if partida.monto_3t_reduccion is None%}
								Por definir
							{%else%}
								${{partida.monto_3t_reduccion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto3TModificado is None%}
							{%if partida.monto_3t_modificado is None%}
								Por definir
							{%else%}
								${{partida.monto_3t_modificado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto3TEjercido is None%}
							{%if partida.monto_3t_ejercido is None%}
								Por definir
							{%else%}
								${{partida.monto_3t_ejercido|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto3TPorEjercer is None%}
							{%if partida.monto_3t_por_ejercer is None%}
								Por definir
							{%else%}
								${{partida.monto_3t_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto4TAutorizado is None%}
							{%if partida.monto_4t_autorizado is None%}
								Por definir
							{%else%}
								${{partida.monto_4t_autorizado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto4TAmpliacion is None%}
							{%if partida.monto_4t_ampliacion is None%}
								Por definir
							{%else%}
								${{partida.monto_4t_ampliacion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto4TReduccion is None%}
							{%if partida.monto_4t_reduccion is None%}
								Por definir
							{%else%}
								${{partida.monto_4t_reduccion|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto4TModificado is None%}
							{%if partida.monto_4t_modificado is None%}
								Por definir
							{%else%}
								${{partida.monto_4t_modificado|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto4TEjercido is None%}
							{%if partida.monto_4t_ejercido is None%}
								Por definir
							{%else%}
								${{partida.monto_4t_ejercido|intcomma}}
							{%endif%}
						{%endif%}
					</td>
					<td>{% if partida.Monto4TPorEjercer is None%}
							{%if partida.monto_4t_por_ejercer is None%}
								Por definir
							{%else%}
								${{partida.monto_4t_por_ejercer|intcomma}}
							{%endif%}
						{%endif%}
					</td>

				{%endif%}

					<td><a href="{%url 'presupuesto:ListViewMeses' partida.pk%}">Ver por meses</a></td>

					{%if request.user.username == "administrador"%}

					<td><a href="{%url 'presupuesto:UpdateViewPartida' partida.pk%}">Editar</a></td>
					<td><a href="{%url 'presupuesto:DeleteViewPartida' partida.pk%}">Eliminar</a></td>

					{%endif%}

				</tr>

		{%empty%}

				<tr>
					<td colspan="12"><p align="center">Lista de partidas vacia</p></td>
				</tr>

		{%endfor%}

				<tr>
					<td colspan="2"><p align="right">Total</p></td>

			{%if request.user.username == "administrador"%}
			
					<td>{%if total_monto_anual_autorizado is None%}
						{%else%}
							${{total_monto_anual_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_anual_ampliacion is None%}
						{%else%}
							${{total_monto_anual_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_anual_reduccion is None%}
						{%else%}
							${{total_monto_anual_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_anual_modificado is None%}
						{%else%}
							${{total_monto_anual_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_anual_ejercido is None%}
						{%else%}
							${{total_monto_anual_ejercido|intcomma}}
						{%endif%}
					</td>

			{%endif%}

					<td>{%if total_monto_anual_por_ejercer is None%}
						{%else%}
							${{total_monto_anual_por_ejercer|intcomma}}
						{%endif%}
					</td>

			{%if request.user.username == "administrador"%}

					<td>{%if total_monto_1t_autorizado is None%}
						{%else%}
							${{total_monto_1t_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_ampliacion is None%}
						{%else%}
							${{total_monto_1t_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_reduccion is None%}
						{%else%}
							${{total_monto_1t_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_modificado is None%}
						{%else%}
							${{total_monto_1t_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_ejercido is None%}
						{%else%}
							${{total_monto_1t_ejercido|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_1t_por_ejercer is None%}
						{%else%}
							${{total_monto_1t_por_ejercer|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_autorizado is None%}
						{%else%}
							${{total_monto_2t_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_ampliacion is None%}
						{%else%}
							${{total_monto_2t_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_reduccion is None%}
						{%else%}
							${{total_monto_2t_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_modificado is None%}
						{%else%}
							${{total_monto_2t_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_ejercido is None%}
						{%else%}
							${{total_monto_2t_ejercido|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_2t_por_ejercer is None%}
						{%else%}
							${{total_monto_2t_por_ejercer|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_autorizado is None%}
						{%else%}
							${{total_monto_3t_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_ampliacion is None%}
						{%else%}
							${{total_monto_3t_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_reduccion is None%}
						{%else%}
							${{total_monto_3t_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_modificado is None%}
						{%else%}
							${{total_monto_3t_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_ejercido is None%}
						{%else%}
							${{total_monto_3t_ejercido|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_3t_por_ejercer is None%}
						{%else%}
							${{total_monto_3t_por_ejercer|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_autorizado is None%}
						{%else%}
							${{total_monto_4t_autorizado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_ampliacion is None%}
						{%else%}
							${{total_monto_4t_ampliacion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_reduccion is None%}
						{%else%}
							${{total_monto_4t_reduccion|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_modificado is None%}
						{%else%}
							${{total_monto_4t_modificado|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_ejercido is None%}
						{%else%}
							${{total_monto_4t_ejercido|intcomma}}
						{%endif%}
					</td>
					<td>{%if total_monto_4t_por_ejercer is None%}
						{%else%}
							${{total_monto_4t_por_ejercer|intcomma}}
						{%endif%}
					</td>

				{%endif%}
				</tr>
			</tbody>
		</table>
	</div>

{%endblock content%}