{%extends 'baseUser.html'%}

{% load bootstrap %}

{%block content%}

	<h4>Registro una solicitud de recurso financiero para un proveedor</h4>

	<p><a href="{%url 'presupuesto:ListViewMeses' partida.pk%}">Regresar</a></p>

	<p>Folio: {{folio}}</p>
	
	<p>Cantidad disponible: ${{mes.monto_por_ejercer}}</p>

	<div>

	{% if messages %}

		<div class="messages">

			{% for message in messages %}
		
			<div {% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</div>
			
			{% endfor %}
		
		</div>

	{% endif %}

	</div>

	<form action="." method="post" enctype="multipart/form-data">
		{%csrf_token%}
		{{NuevaSolicitudForm | bootstrap}}

		<input type="submit" value="Registar solicitud ">
		<a href="{%url 'presupuesto:ListViewMeses' partida.pk%}"><input class="" type="button" value="Cancelar"></a>
	</form>

{%endblock content%}