{%load static%}
<!DOCTYPE html>
<html>
    <head>
    	<title>Administración CITNOVA</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-default">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{%static 'img/logo.png'%}" height="32"> Presupuestos y SRF</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav">

                    {%if request.user.is_authenticated%}

                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'accounts:profile'%}">Inicio</a>
                    </li>

                    {%if request.user.perfil.puesto == "Director"%}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Empleados</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'accounts:CreateViewEmpleado' %}">Registrar</a>
                            <a class="dropdown-item" href="{% url 'accounts:ListViewEmpleados' %}">Catalogo</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Proveedores</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'accounts:CreateViewProveedor' %}">Registrar</a>
                            <a class="dropdown-item" href="{% url 'accounts:ListViewProveedores' %}">Catalogo</a>
                        </div>
                    </li>              
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Solicitudes de Recurso Financiero</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'solicitudes:CreateViewSolicitudEmpleado' %}">Crear para empleado</a>
                            <a class="dropdown-item" href="{% url 'solicitudes:CreateViewSolicitudProveedor' %}">Crear para proveedor</a>
                            <a class="dropdown-item" href="{% url 'solicitudes:ListViewSolicitudesPropias' %}">Mis solicitudes</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Programas</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'presupuesto:ListViewProgramas' %}">Catalogo</a>
                        </div>
                    </li> 
                    {%endif%}
                    {%if request.user.username == "administrador"%}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Programas</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{%url 'presupuesto:CreateViewPrograma' %}">Crear</a>
                            <a class="dropdown-item" href="{% url 'presupuesto:ListViewProgramas' %}">Catalogo</a>
                        </div>
                    </li>  
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Solicitudes de Recurso Financiero</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'solicitudes:ListViewSolicitudesPendientes' %}">Pendientes</a>
                            <a class="dropdown-item" href="{% url 'solicitudes:ListViewSolicitudesPagadas' %}">Pagadas</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bancos</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{%url 'accounts:CreateViewBanco' %}">Crear</a>
                            <a class="dropdown-item" href="{% url 'accounts:ListViewBancos' %}">Catalogo</a>
                        </div>
                    </li> 

                    {%endif%}

                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'accounts:logout'%}">Salir</a>
                    </li>

                    {%endif%}

                </ul>
            </div>
        </nav>

        <div class="container">
            <br>
            {%block content%}
            {%endblock content%}
        </div>

        <script type="text/javascript" src="{%static 'js/jquery.js'%}"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>