{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Administración CITNOVA</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>

        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Presupuestos y SRF</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav">
                
                {%if request.user.is_authenticated%}

                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'accounts:profile'%}">Inicio</a>
                    </li>

                    {%if request.user.perfil.puesto == "Director"%}
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Registrar</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'accounts:CreateViewEmpleado' %}">Empleado</a>
                            <a class="dropdown-item" href="{% url 'accounts:CreateViewProveedor' %}">Proveedor</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catalogos</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'accounts:ListViewEmpleados' %}">Empleados</a>
                            <a class="dropdown-item" href="{% url 'accounts:ListViewProveedores' %}">Proveedores</a>
                        </div>
                    </li>              

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Solicitudes de Recurso Financiero</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'solicitudes:CreateViewSolicitudEmpleado' %}">Crear para empleado</a>
                            <a class="dropdown-item" href="{% url 'solicitudes:CreateViewSolicitudProveedor' %}">Crear para proveedor</a>
                            <a class="dropdown-item" href="{% url 'solicitudes:ListViewSolicitudesPropias' %}">Mis solicitudes</a>
                        </div>
                    </li>

                        {%endif%}
                        {%if request.user.username == "administrador"%}
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Programas</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{%url 'presupuesto:CreateViewPrograma' %}">Crear</a>
                            <a class="dropdown-item" href="{% url 'presupuesto:ListViewProgramas' %}">Catalogo</a>
                        </div>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'solicitudes:ListViewSolicitudesPendientes' %}">Solicitudes pendientes</a>
                    </li>

                        {%endif%}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'accounts:logout'%}">Salir</a>
                    </li>

                    {%endif%}

                </ul>
            </div>
    </nav>


<nav>

    {%if request.user is True%}
    {%if request.user.perfil.puesto == "Director"%}
    <a href="{% url 'accounts:CreateViewEmpleado' %}">Registrar Empleado</a> |
    <a href="{% url 'accounts:CreateViewProveedor' %}">Registrar Proveedor</a> |
    <a href="{% url 'accounts:ListViewEmpleados' %}">Lista de Personal</a> |
    <a href="{% url 'accounts:ListViewProveedores' %}">Lista de Proveedores</a> |
    <a href="{% url 'solicitudes:ListViewSolicitudesPropias' %}">Mis Solicitudes</a> |
    <a href="{% url 'solicitudes:CreateViewSolicitudEmpleado' %}">Nueva solicitud de Empleado</a> |
    <a href="{% url 'solicitudes:CreateViewSolicitudProveedor' %}">Nueva solicitud de Proveedor</a> |
    {%endif%}
    {%if request.user.username == "administrador"%}
    <a href="{%url 'presupuesto:CreateViewPrograma' %}">Crear programa</a>
    <a href="{% url 'presupuesto:ListViewProgramas' %}">
    Lista de programas</a> |
    <a href="{% url 'solicitudes:ListViewSolicitudesPendientes' %}">
    Lista de solicitudes pendientes</a> |
    {%endif%}
    <a href="{%url 'accounts:logout'%}">Logout</a></li>
    {%endif%}
</nav>

<div class="container">{%block content%}
{%endblock content%}</div>


    <script type="text/javascript" src="{%static 'js/jquery.js'%}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>