<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<nav>
<ul>
    <li><a title="Opcion 1" href="{% url 'accounts:CreateViewEmpleado' %}">Registrar Empleado</a></li>
    <li><a title="Opcion 2" href="{% url 'accounts:CreateViewProveedor' %}">Registrar Proveedor</a></li>
    <li><a title="Opcion 3" href="{% url 'accounts:ListViewEmpleados' %}">Lista de Empleados</a></li>
    <li><a title="Opcion 4" href="{% url 'accounts:ListViewProveedores' %}">Lista de Proveedores</a></li>
    <li><a title="Opcion 5" href="{% url 'solicitudes:ListViewSolicitudes' %}">Lista de Solicitudes</a></li>
    <li><a title="Opcion 6" href="{% url 'solicitudes:CreateViewSolicitudEmpleado' %}">Nueva solicitud de Empleado</a></li>
    <li><a title="Opcion 7" href="{% url 'solicitudes:CreateViewSolicitudProveedor' %}">Nueva solicitud de Proveedor</a></li>
    <li><a href="{%url 'accounts:logout'%}">Logout</a></li>

</ul>
</nav>
{%block content%}
{%endblock content%}
</body>
</html>