{%extends 'baseUser.html'%}

{%block content%}

	<h4>Información de solicitud</h4>
	<p>Folio: {{solicitud.folio}}</p>
	<p>Programa: {{solicitud.programa}}</p>
	<p>A nombre de: {{solicitud.a_nombre_de}}</p>
	<p>Concepto: {{solicitud.concepto}}</p>
	<p>Importe con numero: {{solicitud.importe_numero}}</p>
	<p>Importe con letra: {{solicitud.importe_letra}}</p>
	<p>Metodo: {{solicitud.metodo_pago}}</p>
	<p>CLABE: {{solicitud.clabe}}</p>
	<p>Cración: {{solicitud.creacion}}</p>
	<p>Pagada: {%if solicitud.pagado is True%}Si{%else%}Aún no {%endif%}</p>
	
	{%if solicitud.comprobante%} 
	
	<a href="{{solicitud.comprobante.url}}">Ver comprobante(s)</a>
	
	{%else%}
	
	<p>No hay comprobante</p>
	
	{%endif%}

{%endblock content%}