{%extends 'baseUser.html'%}

{%block content%}

	<h4>Información de solicitud</h4>
	<p>Folio: {{solicitud.folio}}</p>
	<p>Cuenta bancaria del programa: {{solicitud.cuenta_bancaria_del_programa}}</p>
	<p>A nombre de: {{solicitud.a_nombre_de}}</p>
	<p>Concepto: {{solicitud.concepto}}</p>
	<p>Importe con numero: {{solicitud.importe_numero}}</p>
	<p>Importe con letra: {{solicitud.importe_letra}}</p>
	<p>Metodo: {{solicitud.metodo_pago}}</p>
	<p>CLABE: {{solicitud.clabe}}</p>
	<p>Creación: {{solicitud.creacion}}</p>
	<p>Status: {%if solicitud.pagado is True%}Pagada</p>
	<p>Fecha de pago: {{solicitud.fecha_pagado}}</p>
	<p>{%else%}Aún no se ha pagado{%endif%}</p>
	
	{%if solicitud.comprobante%} 
	
	<a href="{{solicitud.comprobante.url}}">Ver comprobante(s)</a>
	
	{%else%}
	
	<p>No hay comprobante</p>
	
	{%endif%}

{%endblock content%}