{%extends 'baseUser.html'%}

{%block content%}

<p>Folio: {{solicitud.folio}}</p>
<p>Programa: {{solicitud.programa}}</p>
<p>A nombre de: {{solicitud.a_nombre_de}}</p>
<p>Concepto: {{solicitud.concepto}}</p>
<p>Importe con numero: {{solicitud.importe_numero}}</p>
<p>Importe con letra: {{solicitud.importe_letra}}</p>
<p>Metodo: {{solicitud.metodo_pago}}</p>
<p>CLABE: {{solicitud.clabe}}</p>
<p>Cración: {{solicitud.creacion}}</p>

<form action="." method="post">
	{%csrf_token%}
	{{EdicionSolicitudForm.as_p}}
		<input type="submit" value="Crear">
</form>
{%endblock content%}