{%extends 'baseUser.html'%}

{%block content%}
	
	<h4 class="text-center">Lista de mis solicitudes de {% now " F Y" %}</h4>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<th>Folio</th>
				<th>Acciones</th>
			</thead>
			<tbody>
	
	{%for solicitud in solicitudes%}
	
				<tr>
					<td>{{solicitud.folio}}</td>
					<td><a href="{%url 'solicitudes:DetailViewSolicitudPropia' solicitud.pk%}">Ver información</a></td>
				</tr>

			{%empty%}

				<tr>
					<td colspan="2">Lista de solicitudes vacia</td>
				</tr>

			{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}