{%extends 'baseUser.html'%}

{%block content%}
	
	<h4 class="text-center">Lista de mis solicitudes de {% now " F Y" %}</h4>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<th>Folio</th>
				<th>A nombre de</th>
				<th>Cantidad</th>
				<th>Creación</th>
				<th>Status</th>
				<th>Acciones</th>
			</thead>
			<tbody>
	
	{%for solicitud in solicitudes%}
	
				<tr>
					<td>{{solicitud.folio}}</td>
					<td>{{solicitud.a_nombre_de}}</td>
					<td>${{solicitud.importe_numero}}</td>
					<td>{{solicitud.creacion}}</td>
					<td>{%if solicitud.pagado%}Pagado{%else%}Aun no sea pagado{%endif%}</td>
					<td><a href="{%url 'solicitudes:DetailViewSolicitudPropia' solicitud.pk%}">Ver información</a></td>
				</tr>

			{%empty%}

				<tr>
					<td colspan="3">Lista de solicitudes vacia</td>
				</tr>

			{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}