{%extends 'baseUser.html'%}

{%block content%}
	<h4 class="text-center">Lista de solicitudes de {{mes.mes}}</h4>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<th>Folio</th>
				<th>Status</th>
				<th>Acciones</th>
			</thead>
			<tbody>

	{%for solicitud in solicitudes%}

				<tr>
					<td>{{solicitud.folio}}</td>
					<td>{%if solicitud.pagado%}Pagado{%else%}Aun no sea pagado{%endif%}</td>
					<td><a href="{%url 'solicitudes:DetailViewSolicitudPendiente' solicitud.pk%}">Ver detalle</a></td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="3">Lista de solicitudes vacia</td>
				</tr>	
	{%endfor%}

			</tbody>
		</table>
	</div>


{%endblock content%}